@tailwind base;
@tailwind components;
@tailwind utilities;


/* Login Sign In Page */
/* .input-field:focus + .floating-lable{
    @apply  transform -translate-y-6 translate-x-1 scale-75 ease-in bg-white text-gray-900 p-1 top-[6px] left-[5px];
} */

:root {
    --label-translate-y: -27px;
    --label-translate-x: 4px;
  }

  /* Floating label effect */
  .input-field:focus + .floating-lable {
    transform: translate(var(--label-translate-x), var(--label-translate-y))
    scale(0.75);
    background-color: white;
    color: #333; /* Adjust the color as needed */
    padding: 4px;
    top: 6px;
    left: 5px;
    transition: transform 0.3s ease-in-out;
  }

.input-field:focus + .floating-lable ,
.input-field:valid + .floating-lable {
  transform: translateY(-26px)  scale(0.75);
  font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
  color: #333;
  background-color: white;
  top: 6px;
  left: 5px;
  padding: 4px;
  
}

/* CostumerDashbord page */
.CustomerDetaiCard{
    @apply h-10  w-full rounded-md flex items-center justify-start gap-4 font-medium transition duration-500 ease-in;
}
.CustomerDetaiCardActive{
    @apply h-10  w-full rounded-md flex items-center justify-start bg-white gap-4 font-medium transition duration-500 ease-in;
}



/* Single Product detail Page  */
.detail_desc{
    @apply flex flex-col gap-8 pb-2
}

.detail_desc h4{
    @apply text-xl font-bold
}
.detail_sub_heading{
    @apply text-gray-900
}

.detail_sub_desc{
    @apply text-gray-900
}

.reviewCard::-webkit-scrollbar-thumb {
     @apply hidden
  }

input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
}